<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Risk Management</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="https://kit.fontawesome.com/9fe93f881e.js" crossorigin="anonymous"></script>
</head>
<style>
    .bg-blue{
        background: #00607e8c!important;
    }
</style>
<body>
    <div class="page-wrapper bg-blue p-100">
         <div class="card-body">
                <h2 class="tittle">Financial Risk Assessment</h2>
                    <p>Financial institutions must consistently evaluate the perils associated with their transactions, meticulously assessing their risk levels through the refined practice of credit scoring. In the lead-up to the infamous financial crisis of 2008-09, nearly all prominent banks relied on credit scoring models grounded in statistical theories</p>
                    <img class="inside" src="../static/images/main.jpeg" alt="">
                    <img class="picture" src="../static/images/loan.png" alt="">
                    <div class="p-30">
                        <form action="/assessment">
                            <button class="btn btn--radius btn--green" type="submit">Click Me</button>
                        </form>
                    </div>
            </div>
    </div>
    <script src="" type="text/javascript"></script>
    <script src="" type="text/javascript"></script>
    <script src="" type="text/javascript"></script>
</body>
</html>